*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    color: #e79e4f;
    background: linear-gradient(107.54deg, #321F28 0%, rgba(115, 64, 70, 0.3) 99.99%, #734046 100%), #321F28;
}

::selection {
    background: #A05344;
}

.container {
    width: 1100px;
    margin: 0 auto;
}

.title {
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
}

/* Controls */

.input-label__text {
    margin: 0 0 10px 0;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}

input[type="text"], .textarea {
    padding: 14px 16px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #E79E4F;
    background: #734046;
    outline: none;
    border: none;
}

.textarea {
    line-height: 1.5;
}

.submit-btn {
    padding: 5px 20px;
    font-size: 18px;
    line-height: 22px;
    color: #E79E4F;
    background: transparent;
    outline: none;
    border: none;    
    cursor: pointer;
}

input[type="file"] {
    display: none;
}

.file-wrapper {
    position: relative;
    padding: 5px 5px 5px 32px;
    font-size: 18px;
    line-height: 22px;
    cursor: pointer;
}

.file-wrapper::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 24px;
    height: 24px;
    background: url("../img/icons/file_upload_black_24dp.svg") no-repeat center;
    transform: translateY(-50%);
}

/* Wallets */

.wallets {
    padding: 50px 0 100px 0;
}

.wallets__header {
    padding: 0 0 28px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-wallet-btn {
    position: relative;
    padding-left: 32px;
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    color: #E79E4F;
}

.add-wallet-btn::before {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    top: 50%;
    left: 0;
    background: url("../img/icons/add_circle_outline_black_24dp.svg") center no-repeat;
    transform: translateY(-50%);
}

.list-wallets {
    list-style: none;
}

.list-wallets__header {
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
}

.list-wallets__item {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr auto;
    justify-items: center;
    align-items: center;
    padding: 16px 20px;
    transition: .1s ease-in-out;
}

.list-wallets__item:hover {
    background: #734046;
}

.list-wallets__header:hover {
    background: inherit;
}

.list-wallets__text {
    justify-self: start;
}

.list-wallets__address {
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    justify-self: start;
}

.list-wallets__item:first-child .list-wallets__address::after {
    display: none;
}

.copy-img {
    display: inline-block;
    margin-left: 8px;
    cursor: pointer;
    opacity: 0;
    user-select: none;
}

.list-wallets__seed {
    display: none;
    margin: 8px 0 0 0;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #d17c2e;
}

.list-wallets__seed_active .list-wallets__seed {
    display: block;
}

.list-wallets__balance {
    justify-self: end;
}

.wallets__controls {
    display: flex;
    align-items: center;
}

.wallets__download-btn {
    margin: 0 20px 0 30px;
}

.wallets__download-btn, .wallets__delete-btn {
    user-select: none;
    cursor: pointer;
}

/* :3 */

.dasha {
    display: flex;
    justify-content: center;
    margin: 100px 0 0 0;
}

/* Modal window */

.hystmodal__window {
    display: flex;
    flex-direction: column;    
    max-width: 600px;
    width: 100%;
    height: 565px;
    padding: 26px 20px 25px;
    background: linear-gradient(138.81deg, #321F28 0%, #734046 204.24%) !important;
}

.hystmodal__close {
    width: 38px !important;
    height: 38px !important;
    right: 20px !important;
    top: 17px !important;
    background: url("../img/icons/close_black_24dp.svg") no-repeat center !important;
    outline: none !important;
}

.hystmodal__header {
    margin: 0 0 50px 0;
}

.hystmodal__body {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

.hystmodal__text-input {
    width: 100%;
    margin: 0 0 30px 0;
}

.hystmodal__textarea {
    width: 100%;
    resize: none;
}

.hystmodal__footer {
    display: flex;
    justify-content: space-between;
}
